<!DOCTYPE html>
<html lang="en" ng-app=""> <!--ng-app: give angular a base code of where to start-->
<head>
	<meta charset="UTF-8">
	<title>AngularJS Welcome!</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
	<input type="text" ng-model="name"> <!--ng-model: Binding the view into the model, which other directives such as input , textarea or select require-->
	<!--<div>Hello {{name}}</div>-->
	<div ng-bind="name"></div>  <!--ng-bind: automatically bind the value, also this is auto escape
											 only work with input, textarea, ...-->
	
	<!--<div ng-init="language='AngularJS'">
		{{'language'}}
	</div>-->
	
	<div ng-init="language='AngularJS'"> <!--ngInit directive allows you to evaluate an expression in the current scope-->
		Your preferred language is: <input type="text" ng-model="language"> <!--ng-model: Binding the input text into the 
																						  value of language above,
																						  setting an initial value-->
		{{language}}
		<!--this 2 code lines are exactly same as above, only differece is ng-init aet an initial value-->
	</div>
	
</body>

</html>